<h2>Para ponerse en contacto:</h2>
<p>Whatsapp= +54 4950683852</p>
<p>Llamenos= +54 89287964</p>
<p>O puede llenar el siguiente formulario:</p>
<form>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" placeholder="Ingrese su nombre" required>
    <label for="apellido">Apellido:</label>
    <input type="text" name="apellido" placeholder="Ingrese su apellido" required>    
    <label for="edad">Edad:</label>
    <input type="number" name="edad" placeholder="Ingrese su edad" required>
    <label for="mail">Mail:</label>
    <input type="email" name="mail" placeholder="Ingrese su mail" required>           
    <label for="telefono">Teléfono:</label>
    <input type="tel" name="telefono" placeholder="Ingrese su teléfono" required>                    
    <label for="comentario">Deje su comentario:</label>
    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Ingrese su opinión"></textarea>
    <button>Enviar</button>
</form>
